<ion-view title="Feedback" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
    <div ng-repeat="answer in answers" class=" button-bar ">
       {{answer[2].name}}<button ng-repeat="option in answer[2].choices" style="border-radius:200px 200px 200px 200px;" class="{{determineStyleClass($index,answer)}}">{{$index}}</button>
    </div>
        <div id="feedback-button-bar6" class=" button-bar ">
            <button id="feedback-button26" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">A</button>
            <button id="feedback-button27" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">B</button>
            <button id="feedback-button28" style="border-radius:200px 200px 200px 200px;" class=" button button-balanced  button-block ">C</button>
            <button id="feedback-button29" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">D</button>
        </div>
        <div id="feedback-button-bar7" class=" button-bar ">
            <button id="feedback-button30" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">A</button>
            <button id="feedback-button31" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">B</button>
            <button id="feedback-button32" style="border-radius:200px 200px 200px 200px;" class=" button button-assertive  button-block ">C</button>
            <button id="feedback-button33" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">D</button>
        </div>
        <div id="feedback-button-bar8" class=" button-bar ">
            <button id="feedback-button34" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">A</button>
            <button id="feedback-button35" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">B</button>
            <button id="feedback-button36" style="border-radius:200px 200px 200px 200px;" class=" button button-balanced  button-block ">C</button>
            <button id="feedback-button37" style="border-radius:200px 200px 200px 200px;" class=" button button-dark  button-block button-outline ">D</button>
        </div>
    </ion-content>
</ion-view>