<ion-view title="PRUEBAS SABER" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="pRUEBASSABER-form3" class="list " name="pRUEBASSABERform3">
            <div class="item item-body " id="pRUEBASSABER-list-item-container2">
                <p id="pRUEBASSABER-markdown1" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
                <ion-list id="pRUEBASSABER-list1" class=" ">
					<ion-item ng-repeat="group in groups">
						<ion-item class="item-divider ">{{group.name}}</ion-item>
						<ion-item ng-repeat="question in group.questions">
							<ion-checkbox name="{{question.name}}">{{question.name}}</ion-checkbox>
						</ion-item>
					</ion-item>
                    <ion-item class="item-divider " id="pRUEBASSABER-list-item-divider1">Tema1</ion-item>
                    <ion-checkbox>Checkbox</ion-checkbox>
                    <ion-checkbox>Checkbox</ion-checkbox>
                    <ion-checkbox>Checkbox</ion-checkbox>
                    <ion-checkbox>Checkbox</ion-checkbox>
                    <ion-item class="item-divider " id="pRUEBASSABER-list-item-divider2">Tema2</ion-item>
                    <ion-checkbox>Checkbox</ion-checkbox>
                    <ion-checkbox>Checkbox</ion-checkbox>
                    <ion-checkbox>Checkbox</ion-checkbox>
                    <ion-checkbox>Checkbox</ion-checkbox>
                    <ion-modal-view>
                        <ion-header-bar class="bar bar-header bar-positive">
                          <h1 class="title">New Contact</h1>
                          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
                        </ion-header-bar>
                        <ion-content class="padding">
                            <div>
                                <button id="prev">Previous</button>
                                <button id="next">Next</button>
                                <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
                            </div>
                            <canvas id="pdfview" width="1000" height="1000" style="border:1px solid black;width: 100%;height:100%" ></canvas>
                            
                        </ion-content>
                    </ion-modal-view>
                </ion-list>
                <a ui-sref="pregunta1" id="pRUEBASSABER-button1" class=" button button-positive  button-block " ng-click="save_questionary()">Tap me!</a>
            </div>
        </form>
    </ion-content>
</ion-view>

